@font-face {
    font-family: "PingFang Bold";
    src: url('https://www.theta-b.com/static/fonts/Poppins.e212f84.ttf');   
}

html {
	font-family : 'PingFang Medium';
    font-size: 14px;
    color: $black;
}