// @font-face {
//     font-family: "POP";
//     src: url('https://www.theta-b.com/static/fonts/Poppins.e212f84.ttf');   
// }

// body, html, #app{
// 	font-family : 'POP' !important;
// }



@import "mixin";
html{width: 100%;color:#333;background-color: #f2f2f2;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;font-family:PingFangSC-Regular,'微软雅黑',sans-serif;}
html *{outline:0;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-box-sizing:border-box;box-sizing:border-box}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
ins,a{text-decoration:none}
a{
	color:inherit;
}
body,html,#app{font-size:12px;height: 100%;width: 100%;}
.pb-bottom{
    position: relative;
    min-height: 100%;
    padding-bottom: 200px;
}
input{
	border:0;
    outline:0;
    border-radius: 2px;
    background: transparent;
}
input.trade:-ms-input-placeholder{
    color: #d2d6ec;
}
button{
    border:0;
    outline:0;
    border-color: transparent;
}
// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//     -webkit-appearance: none;
// }
// input:-webkit-autofill {
// -webkit-box-shadow: 0 0 0px 1000px #1e2235 inset;
// // color: #fff!important;

// // border: 1px solid #CCC!important;
// }
// input[type="number"] {
//     -moz-appearance: textfield;
// }

.clear:after{
	content: '';
	display: block;
	clear: both;
}
.clear{
	zoom:1;
}
.hide{
	display: none !important;
}
.zindex{
    z-index: 999;
}
.radbg{
    background: #838B99 ;
    color:#fff;
}
.bgseca.bgpart{
    background: #f3f3f3;
}
.ngh{
    background: #f3f3f3;
    color:#000;
}
.marbg{
    background: #fff;
}
.contbg{
  color:#000;
}
.bggred {
  background: #fff;
  color: #000;
}
.f-item{
    background: #f3f3f3;
}
.conbg{
    background: #fff;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.flex{
    display: -webkit-box;
    display: flex;
    -webkit-display:flex;
    -moz-display:flex;
    -ms-display:flex;
    -o-display:flex;
}
.column{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column
}
.flex1{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.flex12{
    -webkit-box-flex: 1.2;
        -ms-flex: 1.2;
            flex: 1.2;
}
.flex15{
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
}
.flex25{
    -webkit-box-flex: 2.5;
        -ms-flex: 2.5;
            flex: 2.5;
}
.flex2{
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
}
.flex3{
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
}
.alcenter{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.alsth{
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}
.between{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.around{
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.jscenter{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.jsend{
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.wraps {
	flex-wrap: wrap;
}
.baseline {
	align-items: baseline;
}
.flexend {
	align-items: flex-end;
}
.flexstart {
	align-items: flex-start;
}
.tl{
    text-align: left;
}
.tc{
	text-align: center;
}
.tr{
	text-align: right;
}
.inblock{
	display: inline-block;
}
.block{
    display: block;
}
.theme_color{
  color:$theme_color !important;
}

.lf0 {
	left: 0;
}
.btm0 {
	bottom: 0;
}
.btm20 {
	bottom: 20px;
}
.top0{
    top: 0;
}
.rt0{
    right: 0;
}
.mauto {
	margin-left: auto;
	margin-right: auto;
}
.posRelt {
	position: relative;
}
.fixed{position: fixed}
.abstort{position: absolute}
.scroll::-webkit-scrollbar {
    width: 6px;
    background-color: #e9e9e9;
}
.scroll::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #ffffff;
}

.ft12{font-size: 12px;}
.ft14{font-size: 14px;}
.ft16{font-size: 16px;}
.ft18{font-size: 18px;}
.ft20 {
	font-size: 20px;
}

.ft22 {
	font-size: 22px;
}

.ft24 {
	font-size: 24px;
}

.ft26 {
	font-size: 26px;
}

.ft28 {
	font-size: 28px;
}

.ft30 {
	font-size: 30px;
}

.ft32 {
	font-size: 32px;
}

.ft34 {
	font-size: 34px;
}

.ft36 {
	font-size: 36px;
}

.ft38 {
	font-size: 38px;
}

.ft40 {
	font-size: 40px;
}

.ft48 {
	font-size: 42px;
}

.ft50 {
	font-size: 50px;
}
.iconfont.ft18 {
	font-size: 16px;
}
.iconfont.ft18 {
	font-size: 18px;
}

.iconfont.ft12 {
	font-size: 12px;
}

.iconfont.ft14 {
	font-size: 14px;
}

.iconfont.ft24 {
	font-size: 24px;
}

.iconfont.ft48 {
	font-size: 48px;
}

.iconfont.ft40 {
	font-size: 40px;
}
/* ???? */
.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.wordbreak {
	word-break: break-word;
}
// margin ??
.ml5{margin-left: 5px;}
.mr5{margin-right: 5px;}
.mlr5{margin-left: 5px;margin-right: 5px;}
.ml10{margin-left: 10px;}
.mr10{margin-right:10px}
.mlr10{margin-left: 10px;margin-right: 10px;}
.ml15{margin-left: 15px;}
.mr15{margin-right: 15px;}
.mlr15{margin-left: 15px;margin-right: 15px;}
.ml20 {margin-left: 20px;}
.mr20{margin-right: 20px;}
.mlr20{margin-left: 20px;margin-right: 20px;}
.ml25{margin-left: 25px;}
.mr25{margin-right: 25px;}
.mlr25{margin-left: 25px;margin-right: 25px;}
.ml30 {margin-left: 30px;}
.mr30{margin-right: 30px;}
.mlr30{margin-left: 30px;margin-right: 30px;}
.ml35 {margin-left: 35px;}
.mr35{margin-right: 35px;}
.mlr35{margin-left: 35px;margin-right: 35px;}
.ml40{margin-left: 40px;}
.mr40{margin-right: 40px;}
.mlr40{margin-left: 40px;margin-right: 40px;}
.ml50{margin-left: 50px;}
.mr50{margin-right: 50px;}
.mlr50{margin-left: 50px;margin-right: 50px;}
// margin ??
.mt5{margin-top: 5px;}
.mb5{margin-bottom: 5px;}
.mtb5{margin-top: 5px;margin-bottom: 5px;}
.mt10{margin-top:10px;}
.mb10{margin-bottom: 10px;}
.mtb10{margin-top: 10px;margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mtb15{margin-top: 15px;margin-bottom: 15px;}
.mt20{margin-top:20px;}
.mb20{margin-bottom: 20px;}
.mtb20{margin-top: 20px;margin-bottom: 20px;}
.mt25{margin-top:25px;}
.mb25{margin-bottom: 25px;}
.mtb25{margin-top: 25px;margin-bottom: 25px;}
.mt30{margin-top:30px;}
.mb30{margin-bottom: 30px;}
.mtb30{margin-top: 30px;margin-bottom: 30px;}
.mt35{margin-top:35px;}
.mb35{margin-bottom: 35px;}
.mtb35{margin-top: 35px;margin-bottom: 35px;}
.mt40{margin-top:40px;}
.mb40{margin-bottom: 40px;}
.mtb40{margin-top: 40px;margin-bottom: 40px;}
.mt45{margin-top:45px;}
.mb45{margin-bottom: 45px;}
.mtb45{margin-top: 45px;margin-bottom: 45px;}
.mt50{margin-top:50px;}
.mb50{margin-bottom: 50px;}
.mtb50{margin-top: 50px;margin-bottom: 50px;}
.mt60{margin-top:60px;}
.mb60{margin-bottom: 60px;}
.mtb60{margin-top: 60px;margin-bottom: 60px;}
// padding
.ptb2{padding-top: 2px;padding-bottom: 2px;}
.pt5{padding-top: 5px;}
.pt7{padding-top: 7px;}
.pt8{padding-top: 8px;}
.pb5{padding-bottom: 5px;}
.pt10{padding-top: 10px;}
.pb10{padding-bottom: 10px;}
.pt15{padding-top: 15px;}
.pb15{padding-bottom: 15px;}
.pt20{padding-top: 20px;}
.pb20{padding-bottom: 20px;}
.pt25{padding-top: 25px;}
.pb25{padding-bottom: 25px;}
.pt30{padding-top: 30px;}
.pb30{padding-bottom: 30px;}
.pt35{padding-top: 35px;}
.pb35{padding-bottom: 35px;}
.pt40{padding-top: 40px;}
.pb40{padding-bottom: 40px;}
.pt45{padding-top: 45px;}
.pb45{padding-bottom: 45px;}
.pt50{padding-top: 50px;}
.pb50{padding-bottom: 50px;}
.pt60{padding-top: 60px;}
.pb60{padding-bottom: 60px;}
.pt70{padding-top: 70px;}
.pb70{padding-bottom: 70px;}
.pt80{padding-top: 80px;}
.pb80{padding-bottom: 80px;}
.pt90{padding-top: 90px;}
.pb90{padding-bottom: 90px;}
.pt120{padding-top: 120px;}
.ptb5{padding-top: 5px;padding-bottom: 5px;}
.ptb10{padding-top: 10px;padding-bottom: 10px;}
.ptb15{padding-top: 15px;padding-bottom: 15px;}
.ptb20{padding-top: 20px;padding-bottom: 20px;}
.ptb25{padding-top: 25px;padding-bottom: 25px;}
.ptb30{padding-top: 30px;padding-bottom: 30px;}
.ptb35{padding-top: 35px;padding-bottom: 35px;}
.ptb40{padding-top: 40px;padding-bottom: 40px;}
.ptb45{padding-top: 45px;padding-bottom: 45px;}
.ptb50{padding-top: 50px;padding-bottom: 50px;}
.ptb55{padding-top: 55px;padding-bottom: 55px;}
.ptb60{padding-top: 60px;padding-bottom: 60px;}
.ptb70{padding-top: 70px;padding-bottom: 70px;}
.pt64{padding-top: 64px;}
.pl5{padding-left: 5px;}
.pr5{padding-right: 5px;}
.pl10{padding-left: 10px;}
.pr10{padding-right: 10px;}
.pl15{padding-left: 15px;}
.pr15{padding-right: 15px;}
.pl20{padding-left: 20px;}
.pr20{padding-right: 20px;}
.pl25{padding-left: 25px;}
.pr25{padding-right: 25px;}
.pl30{padding-left: 30px;}
.pr30{padding-right: 30px;}
.pl35{padding-left: 35px;}
.pr35{padding-right: 35px;}
.pl40{padding-left: 40px;}
.pr40{padding-right: 40px;}
.pl45{padding-left: 45px;}
.pr45{padding-right: 45px;}
.pl50{padding-left: 50px;}
.pr50{padding-right: 50px;}
.plr5{padding-left: 5px;padding-right: 5px;}
.plr10{padding-left: 10px;padding-right: 10px;}
.plr15{padding-left: 15px;padding-right: 15px;}
.plr20{padding-left: 20px;padding-right: 20px;}
.plr25{padding-left: 25px;padding-right: 25px;}
.plr30{padding-left: 30px;padding-right: 30px;}
.plr35{padding-left: 35px;padding-right: 35px;}
.plr40{padding-left: 40px;padding-right: 40px;}
.plr45{padding-left: 45px;padding-right: 45px;}
.plr50{padding-left: 50px;padding-right: 50px;}
.plr55{padding-left: 55px;padding-right: 55px;}
.plr60{padding-left: 60px;padding-right: 60px;}
.plr70{padding-left: 70px;padding-right: 70px;}
// ?????
.w4{width: 4%;}
.w5{width: 5%;}
.w6{width: 6%}
.w8{width: 8%}
.w10{width: 10%}
.w11{width: 11%}
.w12{width: 12%}
.w14{width:14%}
.w15{width: 15%}
.w16{width: 16%}
.w18{width: 18%}
.w20{width: 20%}
.w22{width: 22%}
.w23{width: 23% !important}
.w25{width: 25%}
.w30{width: 30%}
.w33{width: 33%}
.w35{width: 35%}
.w40{width: 40%}
.w45{width: 45%}
.w50{width: 50%;}
.w55{width: 55%;}
.w60{width: 60%;}
.w65{width: 65%;}
.w70{width: 70%;}
.w75{width: 75%;}
.w80{width: 80%;}
.w85{width: 85%;}
.w88{width: 88%;}
.w90{width: 90%;}
.w100 {width: 100%;}
.max1200{max-width: 1200px;margin: 0 auto;}
.max1080{max-width: 1080px;}
.wt25{width: 25px;}
// ??
.wt5{width: 5px;}
.wt8{width: 8px;}
.wt10{width: 10px;}
.wt15{width: 15px;}
.wt20{width: 20px;}
.wt30{width: 30px;}
.wt40{width: 40px;}
.wt50{width: 50px;}
.wt60{width: 60px;}
.wt70{width: 70px;}
.wt80{width: 80px;}
.wt90{width: 90px;}
.wt100{width: 100px;}
.wt120{width: 120px;}
.wt140{width: 140px;}
.wt150{width: 150px;}
.wt160{width: 160px;}
.wt170{width: 170px;}
.wt180{width: 180px;}
.wt190{width: 190px;}
.wt200{width: 200px;}
.wt217{width: 217px;}
.wt220{width: 220px;}
.wt240{width: 240px;}
.wt1200{width: 1200px;}
// ?????
.h4{height: 4%;}
.h5{height: 5%;}
.h6{height: 6%}
.h8{height: 8%}
.h10{height: 10%}
.h11{height: 11%}
.h12{height: 12%}
.h14{height:14%}
.h15{height: 15%}
.h16{height: 16%}
.h18{height: 18%}
.h20{height: 20%}
.h22{height: 22%}
.h25{height: 25%}
.h30{height: 30%}
.h33{height: 33%}
.h35{height: 35%}
.h40{height: 40%}
.h45{height: 45%}
.h50{height: 50%;}
.h55{height: 55%;}
.h60{height: 60%;}
.h65{height: 65%;}
.h70{height: 70%;}
.h75{height: 75%;}
.h80{height: 80%;}
.h85{height: 85%;}
.h88{height: 88%;}
.h90{height: 90%;}
.h100 {height: 100%;}
.minh50{min-height: 50%;}
.minh60{min-height: 60%;}
.minh80{min-height: 80%;}
.minh90{min-height: 90%;}
.minh100{min-height: 100%;}
.minvh50{min-height: 50vh;}
.minvh60{min-height: 60vh;}
.minvh70{min-height: 70vh;}
.minvh80{min-height: 80vh;}
.minvh85{min-height: 85vh;}
.minvh90{min-height: 90vh;}
.minvh100{min-height: 100vh;}
.minh350{min-height: 350px;}
.vh4{height: 4vh;}
.vh5{height: 5vh;}
.vh6{height: 6vh}
.vh8{height: 8vh}
.vh10{height: 10vh}
.vh11{height: 11vh}
.vh12{height: 12vh}
.vh14{height:14vh}
.vh15{height: 15vh}
.vh16{height: 16vh}
.vh18{height: 18vh}
.vh20{height: 20vh}
.vh22{height: 22vh}
.vh25{height: 25vh}
.vh30{height: 30vh}
.vh33{height: 33vh}
.vh35{height: 35vh}
.vh40{height: 40vh}
.vh45{height: 45vh}
.vh50{height: 50vh;}
.vh55{height: 55vh;}
.vh60{height: 60vh;}
.vh65{height: 65vh;}
.vh70{height: 70vh;}
.vh75{height: 75vh;}
.vh80{height: 80vh;}
.vh85{height: 85vh;}
.vh88{height: 88vh;}
.vh90{height: 90vh;}
.vh100 {height: 100vh;}
// ??
.ht5{height: 5px;}
.ht8{height: 8px;}
.ht10{height: 10px;}
.ht15{height: 15px;}
.ht20{height: 20px;}
.ht25{height: 25px;}
.ht30{height: 30px;}
.ht40{height: 40px;}
.ht48{height: 48px;}
.ht50{height: 50px;}
.ht60{height: 60px;}
.ht70{height: 70px;}
.ht80{height: 80px;}
.ht90{height: 90px;}
.ht100{height: 100px;}
.ht120{height: 120px;}
.ht140{height: 140px;}
.ht150{height: 150px;}
.ht160{height: 160px;}
.ht170{height: 170px;}
.ht180{height: 180px;}
.ht190{height: 190px;}
.ht200{height: 200px;}
.ht220{height: 220px;}
.ht240{height: 240px;}
// ??
.lh5{line-height: 5px;}
.lh8{line-height: 8px;}
.lh10{line-height: 10px;}
.lh15{line-height: 15px;}
.lh20{line-height: 20px;}
.lh25{line-height: 25px;}
.lh30{line-height: 30px;}
.lh40{line-height: 40px;}
.lh48{line-height: 48px;}
.lh50{line-height: 50px;}
.lh60{line-height: 60px;}
.lh70{line-height: 70px;}
.lh80{line-height: 80px;}
.lh90{line-height: 90px;}
.lh100{line-height: 100px;}
.lh120{line-height: 120px;}
.lh140{line-height: 140px;}
.lh150{line-height: 150px;}
.lh160{line-height: 160px;}
.lh170{line-height: 170px;}
.lh180{line-height: 180px;}
.lh190{line-height: 190px;}
.lh200{line-height: 200px;}
.lh220{line-height: 220px;}
.lh240{line-height: 240px;}
.white{color: #fff!important;}
.nwhite{color: #333!important;}
.black{color: #000;}
.basegray{color: #303b4b}
.basecolor{color: #333333;}
.baselight{color: #333333;}
.baselight2{color: #333333;}
.gray68{color: #68707e;}
.gray3{color: #333;}
.gray4{color: #444;}
.gray6{color: #666;}
.gray7{color: #777;}
.gray9{color: #999;}
.gray97{color: #979797;}
.color68{color: #68707e;}
.cortt{color: #263241;}
.corlb{color:#9aa5b5;}
.green{color: #00AB86;}
.red{color: #E95463}
// .blue{color: #357ce1}
.blue{color: #FCD535}
.blueColor{color: #5795f1;}
.yellow{color: #f5b277;}
.orange{color: #f59314;}
.gold{color: #ff5c0d;}
.pointer{cursor: pointer;}
.bgheader{background: #ffffff;}
.bginput{background: #f2f6fa;}
.bgpart{background: #ffffff;}
.bgsome{background: #ffffff;}
.bgline2{background: #e9e9e9;}
.bgfooter{background: #020f27;}
.bgline{background-color: #f2f2f2}
.bgbtn{background: #6574bf;}
.bgwhite{background: #fff;}
.bgblue{color: #212833 !important;
    background: #FCD535;}
.bgblue2{background: #2d448b;}
.bgblue3{background: #5895f0;}
.bgblue.txtwhite{color: white;}
.bgf6{background: #f6f9fc;}
.topshadow{-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.1);box-shadow: 0 3px 6px rgba(0,0,0,.1);}
.ttBk{background-color: #1b1e2e;}
.bggreen{background-color: #00AB86;}
.bgred{background-color: #ff6064}
.bgyellow{background-color: #f5b277;}
.bgsend{background: #fff7ea;}
.bagray {background-color: #666;}
.bgshadow{
    background-color:#f2f5fa
}
.boxshadow{box-shadow: 0 0 6px rgb(32, 39, 78)}
.bghome{background: #000923;}
//background
.lgbg{
    background: #061745 url(/static/imgs/login-bg.jpg) center no-repeat;
    background-size: 100% 100%;
}
// ????
.bd2px{border-bottom: 2px solid transparent;}
// .active2px{color: #357ce1;border-bottom: 2px solid #357ce1;}
.active2px{color: #FCD535;border-bottom: 2px solid #FCD535;}
// .app .routeractive{color: #357ce1;border-bottom: 2px solid #357ce1;}
.app .routeractive{color: #FCD535;border-bottom: 2px solid #FCD535;}
// ??
.radius2{border-radius: 2px;}
.radius4{border-radius: 4px;}
.radius6{border-radius: 6px;}
.radius8{border-radius: 8px;}
.radius10{border-radius: 10px;}
.radius12{border-radius: 12px;}
.radius16{border-radius: 16px;}
.radius18{border-radius: 18px;}
.radius28{border-radius: 28px;}
.radius30{border-radius: 30px;}
.radius40{border-radius: 40px;}
.radius50p{border-radius: 50%;}
// ?
.bdbea2{border-bottom: 2px solid #eaedf0;}
.bdrea{border-right: 1px solid #eaedf0;}
.bde7{border:1px solid #dfe2e7;}
.bdre7{border-right:1px solid #dfe2e7;}
.bdle7{border-left:1px solid #dfe2e7;}
.bdbe7{border-bottom:1px solid #dfe2e7;}
.bde9{border: 1px solid #e9e9e9;}
.bdbe9{border-bottom:1px solid #e9e9e9;}
.bdte9{border-top:1px solid #e9e9e9;}
.bdle9{border-left: 1px solid #e9e9e9;}
.bdre9{border-right: 1px solid #e9e9e9;}
.bdlf2{border-left:1px solid #f2f2f2;}
.bdrf2{border-right: 1px solid #f2f2f2;}
.bdlf3p{border-left: 3px solid #f2f2f2}
.bdl{border-left: 1px solid #303b4b;}
.bdt{border-top: 1px solid #303b4b;}
.bdtheader{border-top: 1px solid #e9e9e9;}
.bdbheader{border-bottom: 1px solid #e9e9e9;}
.bdheader{border: 1px solid #e9e9e9;}
.bdblue{border:1px solid #FCD535}
.bdinput{border: 1px solid #e9e9e9;}
.bdline{border:1px solid #e9e9e9;}
.bdbred{border-bottom: 1px solid #ff6064;}
.bdbgreen{border-bottom: 1px solid #52db72;}
// .bdbblue{border-bottom: 2px solid #5795f1;}
.bdbblue{border-bottom: 2px solid #FCD535;}
.bdred{border: 1px solid #ff6064;}
.bdgreen{border: 1px solid #52db72;}
.bdt30{border-top: 1px solid #eeeeee}
.bdb30{border-bottom: 1px solid #eeeeee}
.bdrfopt25{border-right:2px solid #eeeeee}
.bdlfopt25{border-left:2px solid #eeeeee}
.bdl383{border-left:1px solid #e9e9e9}
.bdlblue{border-left: 2px solid #5795f1;}
.bdbfoptdashed25{border-bottom:1px dashed rgba(0, 0, 0, 0.15)}
.bdrdashe9{border-right: 1px dashed #e9e9e9;}
.bd2px{border-width: 2px;}
.bdgray{border: 1px solid #e9e9e9;}
.bdr38{border-right:1px dashed #cad7e0}
.bd38{border: 1px solid #383f66;}
.inputbd{
    border: 1px solid #f2f2f2;
    -webkit-box-shadow: 0 3px 3px #f2f2f2;
    box-shadow: 0 3px 3px #f2f2f2;
}
//??

.markethover:hover{
    background: #dddddd;
}
// .headerbase a:hover{
//     color: #357ce1;
// }
.headerbase a:hover{
    color:  #fcd435e5;
}
.bb_shadow{
    -webkit-box-shadow: 0 5px 5px #1b1e2e;
            box-shadow: 0 5px 5px #1b1e2e;
}
.bth_shadow{
    -webkit-box-shadow: 0 3px 3px #aee1f1;
        box-shadow: 0 3px 3px #aee1f1;
}
.bth_shadow:hover{
    background: #4689ea;
}
.shadow_green{
    box-shadow: 0 5px 5px #b2e8be;
    -webkit-box-shadow: 0 5px 5px #b2e8be;
}
.shadow_red{
    -webkit-box-shadow: 0 5px 5px #f1bbbb;
    box-shadow: 0 5px 5px #f1bbbb;
}
.opacity0{
    opacity: 0;
}
// ??
.overx{overflow-x: hidden}
.overy{overflow-y: hidden}
.overxy{overflow-x: hidden;overflow-y: hidden;}
.overxscroll{overflow-x: scroll}
.overyscroll{overflow-y: scroll}
.overxyscroll{overflow-x: scroll;overflow-y: scroll;}
.el-input__inner{
    background: transparent;
}
::-webkit-scrollbar {/*???????*/
    width: 4px;     /*??????????????*/
    // height: 4px;
    border-radius: 5px;
    // -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #e9e9e9;
}
a:link,
a:visited,
a:hover,
a:active{
  text-decoration: none;
}
.word-wrap{
    word-break: break-all;
    word-wrap: break-word;
}
@media (min-width: 576px) {
    .container-wrap {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container-wrap {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container-wrap {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container-wrap {
        max-width: 1140px;
    }
}

.gobal_tip{
    border-radius: 0;
    border-width: 0px;
    display: flex;
    align-items: center;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 4px;
    }

    &_error::before{
        background-color: #F56C6C;
    }

    &_success::before{
        background-color: #67C23A;
    }

    .el-notification__content{
        margin: 0;
        p{
            word-break: break-all;
        }
    }
}
