* {
  --main-bg: #232323;
  --main-text: white;
}

@font-face {
  font-family: "BinancePlex";
  src: url("../assets/font/bPlex-Regular.woff");
}

html,
body,
#app {
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  background-color: var(--main-bg);
  color: var(--main-text);
  overflow-x: hidden;
  font-family: "BinancePlex" !important;
}

.hide-scroll::-webkit-scrollbar {
  width: 0 !important;
}
/*IE 10+*/
.hide-scroll {
  -ms-overflow-style: none;
}
/*Firefox*/
.hide-scroll {
  overflow: -moz-scrollbars-none;
}

.van-hairline--bottom:after {
  border-bottom-width: 0;
}

.van-field__label--top {
  margin-left: 6px;
}

.van-field__body {
  background-color: #3e423a;
  padding: 10px;
  border-radius: 22px;
  height: 50px;
}

.van-checkbox__icon--round .van-icon {
  border-radius: 25% !important;
}

.loading-relative {
  position: relative;
}

input {
  background-color: transparent;
}

input::input-placeholder {
  color: #888;
}
input::-webkit-input-placeholder {
  //兼容WebKit browsers（Chrome的内核）
  color: #888;
}
input::-moz-placeholder {
  //Mozilla Firefox 4 to 18
  color: #888;
}
input::-moz-placeholder {
  //Mozilla Firefox 19+
  color: #888;
}
input::-ms-input-placeholder {
  //Internet Explorer 10+
  color: #888;
}

.content {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100vw;
    background: rgba(159, 239, 78, 0.2);
    border-radius: 0px 0px 0px 0px;
    opacity: 0.6;
    filter: blur(186px);
  }
}

.van-tab {
  flex: none !important;
  margin-right: 4px !important;
}

.van-tab--active {
  font-size: 16px !important;
}
